<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="<%= @profile.profile_pic %>" alt="Card image cap" width="100%" height="auto">
      <div class="card-block">
        <h4 class="card-title"><%= @profile.full_name %></h4>
        <p class="card-text"><%= @profile.bio %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @profile.phone %></li>
        <li class="list-group-item"><%= @profile.dob.strftime ('%d %B %Y') %></li>
        <li class="list-group-item"><%= @profile.user.email %></li>
        <li class="list-group-item"><%= ISO3166::Country[@profile.country] %></li>
      </ul>
      <div class="card-block">
        <% if @profile.user == current_user %>
        <%= link_to 'Edit profile', edit_profile_path(@profile), class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
